# Logs
logs/
*.log

# Docker.env
Docker.env

# Dependencies
node_modules/

# Transpiled files
/public

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional eslint cache
.eslintcache

# Misc
.DS_Store

/output/*
!output/.gitkeep

/client
/.env
/manifest-params*.yaml