@darkest: #004280;
@darker: #004e94;
@dark: #0c43e8;
@first: #0084ff;
@second: #0cb8e8;
@third: #0dfff4;
@grey: #666363;
@light-grey: #f5f7fa;
@light-grey-alpha: fade(@light-grey, 50%);
@white: #ffffff;
@white-alpha: fade(@white, 85%);
@magenta: #ff00ff;
@red: #ff4914;
@border-grey: #e8e8e8;
@black: #000000;
@bordeaux-border: #ffffff;

@link: #ff9e40;

@positive: #00a649;
@negative: #a60100;
@positive-alpha: fade(@positive, 35%);
@negative-alpha: fade(@negative, 35%);

@red-darkest-alpha: fade(@darkest, 12%);

@textSize: 16px;
@feedbackTextSize: 14px;
@smallerTextSize: 12px;
